@charset "UTF-8";
:root {
  --bg: rgb(211 208 208 / 74%);
  --color: #000;
  --bg-nav: #f6f5ff;
  --bg-result: #ebeaf1;
  --color-nav: #000000;
  --width-nav-a: 250px;
  --font-f: "Poppins", sans-serif;
  --header-height: 60px;
  --search-bar: 30vh;
  --input-search-height: 6vh;
  --x: 0;
  --y: 0;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 7px);
}
* body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  position: relative;
  touch-action: none;
}
* body::before {
  --line: color-mix(in lch, canvasText 25%, transparent);
  --size: 60px;
  content: "";
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 0 -5vmin/var(--size) var(--size), linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin/var(--size) var(--size);
  -webkit-mask: linear-gradient(-15deg, transparent 40%, rgba(211, 208, 208, 0.74));
          mask: linear-gradient(-15deg, transparent 40%, rgba(211, 208, 208, 0.74));
  top: 0;
}
* body::-webkit-scrollbar {
  width: 9px;
  background-color: rgba(250, 250, 250, 0.5058823529);
}
* body::-webkit-scrollbar-thumb {
  background-color: #686af1;
  border-radius: 20px;
}
* body nav.active {
  transform: translateX(0%);
  transition: 0.1s;
  z-index: 999;
}
* body nav.cancello {
  transform: translateX(-100%);
  transition: 0.1s;
}
* body nav {
  width: var(--width-nav-a);
  height: 100vh;
  transform: translateX(-100%);
  background-color: var(--bg-nav);
  color: var(--color-nav);
  box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.144);
  font-family: var(--font-f);
  display: flex;
  flex-direction: column;
  overflow: clip;
  position: fixed;
  top: 0;
  z-index: 999;
}
* body nav a {
  color: var(--color-nav);
  text-decoration: none;
  text-transform: capitalize;
}
* body nav .header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* body nav .header .logo {
  display: inline-block;
}
* body nav .header .logo a {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* body nav .header .logo:nth-child(1) {
  margin-right: 5px;
}
* body nav .header .logo:nth-child(2) {
  padding-left: 5px;
  margin-left: 5px;
  border-left: 3px solid var(--color-nav);
  font-family: "Mochiy Pop One", sans-serif;
}
* body nav .header .logo:nth-child(2) a {
  display: inline-block;
  font-size: 35px;
  transform: translateY(-3px);
}
* body nav .search-bar {
  width: 100%;
  min-height: var(--input-search-height);
  max-height: var(--search-bar);
  margin-top: 8px;
}
* body nav .search-bar .search-box {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #cfcfd1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c3c4d;
}
* body nav .search-bar .search-box input {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  width: 85%;
  height: var(--input-search-height);
  margin-left: 4px;
  font-family: var(--font-f);
  padding-left: 7px;
}
* body nav .search-bar .search-box span {
  display: inline-block;
  font-size: 25px;
  transform: translateY(4px);
}
* body nav .search-bar .box-search-result {
  width: 100%;
  min-height: 0px;
  max-height: 22vh;
  background-color: var(--bg-result);
  padding-left: 5px;
  transition: 0.1s;
  overflow-y: auto;
}
* body nav .search-bar .box-search-result::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(109, 184, 255, 0.5058823529);
}
* body nav .search-bar .box-search-result::-webkit-scrollbar-thumb {
  background-color: #686af1;
  border-radius: 10px;
}
* body nav .search-bar .box-search-result::-webkit-scrollbar-thumb:hover {
  background-color: #0b1580;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
* body nav .links-box {
  width: 100%;
  height: 60vh;
  padding-top: 3px;
}
* body nav .links-box .main-li {
  width: 95%;
  height: 55px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-left: 2.5%;
  border-radius: 8px;
  font-size: 20px;
}
* body nav .links-box .main-li:nth-child(2) span:nth-child(3) {
  transform: translate(70px, 6px);
  font-size: 23px;
}
* body nav .links-box .main-li:nth-child(5) {
  /* To hide the checkbox */
  /* Switch background change */
}
* body nav .links-box .main-li:nth-child(5) .block {
  width: 55px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: 30px;
  z-index: 999;
}
* body nav .links-box .main-li:nth-child(5) .switch-4 {
  position: absolute;
  right: 25px;
  display: inline-block;
  scale: 0.7;
}
* body nav .links-box .main-li:nth-child(5) .switch-4 input {
  display: none;
}
* body nav .links-box .main-li:nth-child(5) .switch-4 label {
  transform: translateY(4px);
  display: block;
  width: 60px;
  height: 30px;
  padding: 3px;
  border-radius: 15px;
  border: 2px solid #4d4b4e;
  cursor: pointer;
  transition: 0.3s;
}
* body nav .links-box .main-li:nth-child(5) .switch-4 label::after {
  content: "";
  display: inherit;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: #4d4b4e;
  transition: 0.3s;
}
* body nav .links-box .main-li:nth-child(5) .switch-4 input:checked ~ label {
  border-color: #ffffff;
}
* body nav .links-box .main-li:nth-child(5) .switch-4 input:checked ~ label::after {
  translate: 30px 0;
  background: #ffffff;
}
* body nav .links-box .main-li:nth-child(5) .switch-4 input:disabled ~ label {
  opacity: 0.35;
  cursor: not-allowed;
}
* body nav .links-box .main-li:nth-child(5) #checkboxInput {
  display: none;
}
* body nav .links-box .main-li:nth-child(5) .toggleSwitch {
  scale: 0.85;
  display: flex;
  align-items: center;
  justify-content: centerå;
  position: relative;
  width: 50px;
  height: 17px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}
* body nav .links-box .main-li:nth-child(5) .toggleSwitch::after {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 0px;
  background-color: #141315;
  border-radius: 50%;
  transition-duration: 0.3s;
  border: 2px solid #4d4b4e;
}
* body nav .links-box .main-li:nth-child(5) #checkboxInput:checked + .toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: 0.3s;
  border: 2px solid #8f44fd;
}
* body nav .links-box .main-li:nth-child(5) #checkboxInput:checked + .toggleSwitch {
  background-color: #8f44fd;
  transition-duration: 0.3s;
}
* body nav .links-box .main-li p span {
  display: inline-block;
}
* body nav .links-box .main-li p span:nth-child(1) {
  font-size: 23px;
  transform: translateY(4px);
  margin-right: 7px;
}
* body nav .links-box .main-li:hover {
  transition: 0.1s;
  background-color: rgba(203, 207, 248, 0.3411764706);
}
* body nav .links-box .sub.active {
  height: 27vh;
  transition: 0.1s;
  padding-top: 8px;
}
* body nav .links-box .sub.cancello {
  height: 0vh;
  transition: 0.1s;
}
* body nav .links-box .sub {
  width: 100%;
  height: 0vh;
  flex-basis: 200px;
  background-color: var(--bg-result);
  padding-left: 44px;
  overflow: auto;
  margin-bottom: 4px;
}
* body nav .links-box .sub::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(109, 184, 255, 0.5058823529);
}
* body nav .links-box .sub::-webkit-scrollbar-thumb {
  background-color: #686af1;
  border-radius: 10px;
}
* body nav .links-box .sub::-webkit-scrollbar-thumb:hover {
  background-color: #0b1580;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
* body nav .links-box .sub ul li {
  list-style: none;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 6px;
  line-height: 28px;
}
* body nav .links-box .sub ul li a:hover {
  font-size: 19px;
  margin-left: 8px;
  transition: 0.1s;
  letter-spacing: 1px;
  position: relative;
}
* body nav .links-box .sub ul li a:hover::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 1px;
  width: 3px;
  height: 100%;
  background-color: #000;
}
* body .container {
  min-height: 100vh;
  width: 100%;
}
* body .container .slider-click-btn {
  height: calc(var(--header-height) + 8px);
  width: 100%;
  padding-inline: 10px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 777;
}
* body .container .slider-click-btn::after {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: ease 0.2s;
}
* body .container .slider-click-btn:hover::after {
  left: 100%;
  width: 0;
}
* body .container .slider-click-btn .logo {
  font-family: sans-serif;
  font-size: 50px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: clip;
}
* body .container .slider-click-btn .slider {
  width: 100%;
  height: 80px;
  position: fixed;
  top: -70px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* body .container .slider-click-btn .slider .wrapper {
  width: 80%;
  margin-inline: auto;
  position: relative;
  height: 50px;
  margin-top: 5rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
}
@keyframes scrollLeft {
  to {
    left: -1200px;
  }
}
* body .container .slider-click-btn .slider .item {
  width: 100%;
  height: 70px;
  border-radius: 0px;
  position: absolute;
  left: max(1600px, 100%);
  animation: scrollLeft 20s infinite linear;
  color: #ffffff;
}
* body .container .slider-click-btn .slider .item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  font-family: monospace;
  letter-spacing: 5px;
  text-transform: uppercase;
}
* body .container .slider-click-btn .btn {
  /* burger-1 */
}
* body .container .slider-click-btn .btn .button {
  border: 0;
  width: 56px;
  height: 56px;
  display: grid;
  place-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  scale: 1;
  border-radius: 8px;
  transition: 0.25s;
  overflow: clip;
}
* body .container .slider-click-btn .btn .burger {
  position: relative;
  width: 32px;
  border: 0;
}
* body .container .slider-click-btn .btn .burger,
* body .container .slider-click-btn .btn .burger::before,
* body .container .slider-click-btn .btn .burger::after {
  display: block;
  border-radius: 2px;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}
* body .container .slider-click-btn .btn .burger::before,
* body .container .slider-click-btn .btn .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
* body .container .slider-click-btn .btn .burger::before {
  top: -8px;
}
* body .container .slider-click-btn .btn .burger::after {
  top: 8px;
}
* body .container .slider-click-btn .btn .burger.burger-1,
* body .container .slider-click-btn .btn .burger.burger-1::before,
* body .container .slider-click-btn .btn .burger.burger-1::after {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
* body .container .slider-click-btn .btn .burger.burger-1.is-closed {
  transform: translateX(-50px);
  background: transparent;
}
* body .container .slider-click-btn .btn .burger.burger-1.is-closed::before {
  transform: rotate(-45deg) translate(30px, 40px);
}
* body .container .slider-click-btn .btn .burger.burger-1.is-closed::after {
  transform: rotate(45deg) translate(30px, -42px);
}
* body .container .sec {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #000;
  overflow: clip;
}
* body .container .g-sec #particles-js {
  position: absolute;
  top: 0;
  width: 98%;
  height: 100vh;
  color: rgba(206, 41, 41, 0.5607843137);
  overflow: hidden;
  z-index: 6;
}
* body .container .g-sec .auto-writing {
  position: absolute;
  color: #000;
  left: 14px;
  top: calc(var(--header-height) + 6px);
  font-size: 1.5em;
}
* body .container .g-sec .auto-writing .ityped-cursor {
  opacity: 1;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}
@keyframes blink {
  100% {
    opacity: 0;
  }
}
* body .container .g-sec .auto-writing #ityped {
  font-family: monospace;
}
* body .container .g-sec .content {
  width: 100%;
  height: 100vh;
  padding-top: calc(var(--header-height) + 25px);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
* body .container .g-sec .content .title {
  margin-top: 5vh;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font: 400 12px "Neuton";
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* body .container .g-sec .content .title p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: monospace;
  display: inline-block;
  border: 4px double #000;
  border-width: 4px 0;
  padding: 0.5em 0em;
  color: #000;
  width: 45em;
}
* body .container .g-sec .content .title p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #000;
  animation: aitf 80s linear infinite;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
* body .container .g-sec .content .boxs {
  width: 100%;
  height: 60vh;
  position: absolute;
  bottom: 0vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
* body .container .g-sec .content .boxs .box-note {
  width: 500px;
  min-height: 130px;
  background-color: #111113;
  color: #fff;
  padding-left: 12px;
  padding-bottom: 20px;
  font-family: monospace;
  z-index: 10;
}
* body .container .g-sec .content .boxs .box-note h1 {
  text-transform: uppercase;
  padding: 3px;
  font-size: 34px;
}
* body .container .g-sec .content .boxs .box-note span {
  white-space: wrap;
  font-size: 1.25em;
}
* body .container .g-sec .content .boxs .box-note .ityped-cursor {
  position: absolute;
  white-space: wrap;
  opacity: 1;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}
@keyframes blink {
  100% {
    opacity: 0;
  }
}
* body .container .g-sec .content .boxs .box-note #ityped {
  font-family: monospace;
}
* body .container .g-sec .content .box-text {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 5%);
  --fg: hsl(var(--hue), 10%, 95%);
  --dot-a: 313;
  --dot-b: 253;
  --dot-c: 223;
  --dot-d: 283;
  --trans-dur: 0.3s;
  font-size: calc(14px + 16 * (100vw - 280px) / 3560);
  width: 400px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Animations */
}
* body .container .g-sec .content .box-text .pl {
  margin: auto;
  perspective: 18em;
  position: relative;
  width: 9em;
  height: 9em;
  transform-style: preserve-3d;
}
* body .container .g-sec .content .box-text .pl__dot {
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  animation-iteration-count: infinite;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
}
* body .container .g-sec .content .box-text .pl__dot--a {
  animation-name: dot-a;
  background-color: hsl(var(--dot-a), 90%, 60%);
  box-shadow: -0.5em -0.5em 1em hsl(var(--dot-a), 90%, 30%) inset, 0.125em 0.125em 0.25em hsl(var(--dot-a), 90%, 60%) inset, -0.25em -0.25em 0.75em 0.75em hsl(var(--dot-a), 90%, 50%) inset, 0.75em 0.75em 0.75em hsla(var(--hue), 10%, 5%, 0.7);
}
* body .container .g-sec .content .box-text .pl__dot--b {
  animation-name: dot-b;
  background-color: hsl(var(--dot-b), 90%, 60%);
  box-shadow: -0.5em -0.5em 1em hsl(var(--dot-b), 90%, 30%) inset, 0.125em 0.125em 0.25em hsl(var(--dot-b), 90%, 60%) inset, -0.25em -0.25em 0.75em 0.75em hsl(var(--dot-b), 90%, 50%) inset, 0.75em 0.75em 0.75em hsla(var(--hue), 10%, 5%, 0.7);
}
* body .container .g-sec .content .box-text .pl__dot--c {
  animation-name: dot-c;
  background-color: hsl(var(--dot-c), 90%, 60%);
  box-shadow: -0.5em -0.5em 1em hsl(var(--dot-c), 90%, 30%) inset, 0.125em 0.125em 0.25em hsl(var(--dot-c), 90%, 60%) inset, -0.25em -0.25em 0.75em 0.75em hsl(var(--dot-c), 90%, 50%) inset, 0.75em 0.75em 0.75em hsla(var(--hue), 10%, 5%, 0.7);
}
* body .container .g-sec .content .box-text .pl__dot--d {
  animation-name: dot-d;
  background-color: hsl(var(--dot-d), 90%, 60%);
  box-shadow: -0.5em -0.5em 1em hsl(var(--dot-d), 90%, 30%) inset, 0.125em 0.125em 0.25em hsl(var(--dot-d), 90%, 60%) inset, -0.25em -0.25em 0.75em 0.75em hsl(var(--dot-d), 90%, 50%) inset, 0.75em 0.75em 0.75em hsla(var(--hue), 10%, 5%, 0.7);
}
@keyframes dot-a {
  from {
    transform: rotateY(0) rotateZ(0) translateX(-100%) rotateY(0) rotateZ(0);
  }
  50% {
    transform: rotateY(1turn) rotateZ(0) translateX(-100%) rotateY(-1turn) rotateZ(0);
  }
  to {
    transform: rotateY(1turn) rotateZ(-1turn) translateX(-100%) rotateY(-1turn) rotateZ(1turn);
  }
}
@keyframes dot-b {
  from {
    transform: rotateY(0) rotateZ(0) translateX(100%) rotateY(0) rotateZ(0);
  }
  50% {
    transform: rotateY(1turn) rotateZ(0) translateX(100%) rotateY(-1turn) rotateZ(0);
  }
  to {
    transform: rotateY(1turn) rotateZ(-1turn) translateX(100%) rotateY(-1turn) rotateZ(1turn);
  }
}
@keyframes dot-c {
  from {
    transform: rotateZ(0) rotateX(0) translateY(-100%) rotateZ(0) rotateX(0);
  }
  50% {
    transform: rotateZ(-1turn) rotateX(0) translateY(-100%) rotateZ(1turn) rotateX(0);
  }
  to {
    transform: rotateZ(-1turn) rotateX(1turn) translateY(-100%) rotateZ(1turn) rotateX(-1turn);
  }
}
@keyframes dot-d {
  from {
    transform: rotateZ(0) rotateX(0) translateY(100%) rotateZ(0) rotateX(0);
  }
  50% {
    transform: rotateZ(-1turn) rotateX(0) translateY(100%) rotateZ(1turn) rotateX(0);
  }
  to {
    transform: rotateZ(-1turn) rotateX(1turn) translateY(100%) rotateZ(1turn) rotateX(-1turn);
  }
}
* footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1000px) {
  * body .container .g-sec .content .boxs {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  * body .container .g-sec .content .boxs .box-note {
    width: 700px;
  }
  * body .container .g-sec .content .boxs .box-text {
    width: 700px;
  }
}
@media (max-height: 780px) {
  * body nav .links-box .main-li {
    height: 43px;
  }
}
@media (max-width: 715px) {
  * body .container .g-sec .content .boxs .box-note {
    width: 600px;
  }
}
@media (max-width: 614px) {
  * body .container .g-sec .content .boxs .box-note {
    width: 520px;
    height: 120px;
  }
}
@media (max-width: 530px) {
  * body .container .g-sec .content .boxs .box-note {
    width: 470px;
  }
}
@media (max-height: 400px) {
  * body nav .links-box .main-li {
    height: 40px;
  }
}
@media (max-width: 540px) {
  * body .container .g-sec .content .title p span {
    font: 700 3.8em/1 "Oswald", sans-serif;
  }
  * body .container .g-sec .content .title p {
    width: 40em;
  }
}
@media (max-width: 490px) {
  * body .container .g-sec .content .title p span {
    font: 700 3.5em/1 "Oswald", sans-serif;
  }
  * body .container .g-sec .content .title p {
    width: 36em;
  }
}
@media (max-width: 485px) {
  * body .container .g-sec .content .boxs .box-note {
    width: 400px;
  }
}
@media (max-width: 440px) {
  * body .container .g-sec .content .title p span {
    font: 700 3.4em/1 "Oswald", sans-serif;
  }
  * body .container .g-sec .content .title p {
    width: 35em;
  }
}
@media (max-width: 431px) {
  * body .container .g-sec .content .title p span {
    font: 700 3.36em/1 "Oswald", sans-serif;
  }
  * body .container .g-sec .content .title p {
    width: 34em;
  }
}
@media (max-width: 414px) {
  * body .container .g-sec .content .title p span {
    font: 750 3.2em/1 "Oswald", sans-serif;
  }
  * body .container .g-sec .content .title p {
    width: 34em;
    padding-right: 7px;
  }
  * body .container .g-sec .content .boxs .box-note {
    width: 350px;
    height: 100px;
  }
}
@media (max-width: 403px) {
  * body .container .g-sec .content .title p span {
    font: 800 3.1em/1 "Oswald", sans-serif;
  }
  * body .container .g-sec .content .title p {
    width: 30em;
    padding-right: 7px;
  }
}
.box-pig {
  width: 100%;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(141, 139, 139, 0.4588235294);
}
.box-pig .box-alert {
  width: 500px;
  height: 300px;
  background-color: #ddd;
  padding: 5px;
  position: relative;
}
.box-pig .box-alert .close-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-pig .box-alert .close-item:hover {
  background-color: red;
  color: #fff;
}
.box-pig .box-alert .title-alert {
  text-align: center;
  font-family: monospace;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.box-pig .box-alert .p-1, .box-pig .box-alert .p-2 {
  font-size: 20px;
  padding-left: 20px;
  font-family: monospace;
}
.box-pig .box-alert .ityped-cursor {
  position: absolute;
  white-space: wrap;
  font-size: 20px;
  opacity: 1;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}
@keyframes blink {
  100% {
    opacity: 0;
  }
}
.box-pig .box-alert .div-input {
  width: 100%;
  height: 48%;
  display: grid;
  place-content: center;
}
.box-pig .box-alert .div-input input[type=text] {
  --w: 37px;
  --g: .24em;
  --b: 2px;
  --n: 4;
  --c: #888;
  font-size: 66px;
  line-height: 100px;
  line-height: 100px; /* control the height */
  letter-spacing: var(--w);
  font-family: monospace;
  width: calc(var(--n) * (1ch + var(--w)));
  padding-left: calc((var(--w) - var(--g)) / 2);
  -webkit-clip-path: inset(0 calc(var(--w) / 2) 0 0);
          clip-path: inset(0 calc(var(--w) / 2) 0 0);
  background: repeating-linear-gradient(90deg, var(--c) 0 var(--b), rgba(0, 0, 0, 0) 0 calc(1ch + var(--w) - var(--g) - var(--b)), var(--c) 0 calc(1ch + var(--w) - var(--g)), rgba(0, 0, 0, 0) 0 2ch), conic-gradient(at calc(100% - var(--g) - 1px) var(--b), rgba(0, 0, 0, 0) 75%, var(--c) 0) 0 0/calc(1ch + var(--w)) calc(100% - var(--b));
  border: none;
  outline: 0;
}
.box-pig .box-alert .div-input input[type=text]:focus-visible {
  --c:#000;
}
.box-pig .box-alert .mess-t-f {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  padding-top: 20px;
}/*# sourceMappingURL=NAV.css.map */
