:root {
  --font-bage: sans-serif;
  --background-color: #05213b;
  --height-nav: 4.5rem;
  --color-bage: #ddd;
  --color-bage-hover: #ffffff;
  --top-shadow-text: -79px;
  --right-shadow-text: -407px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--height-nav);
}

::-moz-selection {
  background-color: #cca67b;
  color: var(--background-color);
}

::selection {
  background-color: #cca67b;
  color: var(--background-color);
}

a {
  text-decoration: none;
}
@font-face {
  font-family: cairo;
  src: url(CairoPlay-ExtraBold.ttf);
}
@font-face {
  font-family: BE;
  src: url(BalooThambi2-ExtraBold.ttf);
}
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  font-family: var(--font-bage);
}
* body .header {
  width: 100%;
  height: var(--height-nav);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding: 0 4rem;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999;
}
* body .header:after {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.4)),
    to(transparent)
  );
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
* body .header:hover::after {
  left: 100%;
  width: 0;
}
* body .header .logo {
  display: inline-block;
  color: var(--color-bage);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
* body .header #check,
* body .header .icon {
  display: none;
}
* body .header .navbar .navbar-link {
  display: inline-block;
  font-size: 1rem;
  color: var(--color-bage);
  margin: 0 10px;
  text-transform: capitalize;
}
* body .header .navbar .navbar-link:hover {
  color: var(--color-bage-hover);
}
* .animation-loading {
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  text-align: center;
  font-size: 1.7rem;
  font-family: BE;
}
* .animation-loading span {
  position: relative;
  display: block;
  font-size: 2.2rem;
  color: rgba(170, 170, 170, 0.4784313725);
  background-size: 1% 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
  background-image: linear-gradient(90deg, #fff, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  -webkit-animation: animate-text linear forwards;
          animation: animate-text linear forwards;
  animation-timeline: view();
  animation-range-start: contain 120vh;
  animation-range-end: contain 170vh;
}
@-webkit-keyframes animate-text {
  to {
    background-size: 100% 100%;
  }
}
@keyframes animate-text {
  to {
    background-size: 100% 100%;
  }
}
* .section {
  width: 100%;
  min-height: calc(100vh - var(--height-nav));
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  overflow: hidden;
  position: relative;
}
* .section h1 {
  font-size: 2.4rem;
}
* .section h1 .icon-b {
  display: none;
}
* .section .container {
  width: 95%;
  min-height: calc(100vh - (var(--height-nav) + 20vh));
  margin-left: 2.5%;
  position: relative;
}
* .section .container .card-lecture {
  width: 100%;
  min-height: calc(100vh - (var(--height-nav) + 20vh));
  background-color: rgba(2, 2, 2, 0.368627451);
  border-radius: 2vw;
  padding: 20px;
  position: relative;
}
* .section .container .card-lecture .card-lecture-logo {
  position: absolute;
  top: 43%;
  left: -181px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-weight: 200;
  letter-spacing: 30px;
  color: var(--color-bage);
  font-size: 20px;
  text-transform: uppercase;
}
* .section .container .card-lecture .lecture-lec {
  width: 95%;
  background-color: rgba(221, 221, 221, 0.5411764706);
  min-height: calc(100vh - (var(--height-nav) + 25vh));
  margin-left: 2.5%;
  border-radius: 12px;
  -webkit-box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.6156862745);
          box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.6156862745);
  padding: 4px 3% 3% 3%;
  --color-box-1: #53252b;
  --color-box-2: #244952;
  /* --color-border:#b57e99; */ /* diffrent value to every section */
  margin-left: 2.5%;
  /* padding: 0px 1.5%; */
}
* .section .container .card-lecture .lecture-lec .lecture-link {
  display: block;
  padding: 7px 5px;
  border: 1px solid rgba(0, 0, 0, 0.368627451);
  background-color: rgba(221, 221, 221, 0.6980392157);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3882352941);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3882352941);
  margin-top: 15px;
}
* .section .container .card-lecture .lecture-lec .x-lecture {
  background-color:rgba(255, 111, 111, 0.698) !important;

}
* .section .container .card-lecture .lecture-lec .x-lecture:visited {
  background-color:rgba(255, 111, 111, 0.698) !important;
}

* .section .container .card-lecture .lecture-lec .x-lecture .icon-b {
  color: #fffafa !important;
}
* .section .container .card-lecture .lecture-lec .x-lecture span {
  color: #fffafa !important;
}
* .section .container .card-lecture .lecture-lec .x-lecture:visited span {
  color: #fffafa !important;
}
* .section .container .card-lecture .lecture-lec .lecture-link .icon-b {
  color: #000;
  font-size: 1.9rem;
  padding-left: 4px;
}
* .section .container .card-lecture .lecture-lec .lecture-link span {
  display: inline-block;
  color: #000;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 3px;
}
* .section .container .card-lecture .lecture-lec .lecture-link:visited {
  background-color: #2bd1df;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
* .section .container .card-lecture .lecture-lec .lecture-link:visited .icon-b {
  color: rgba(255, 250, 250, 0.4588235294);
}
* .section .container .card-lecture .lecture-lec .lecture-link:visited span {
  color: #fffafa;
}
/* lectures plus labs */
* .section .container .card-lecture .lecture-lec .box-lecture {
  width: 100%;
  border: 3px solid var(--color-border);
}
* .section .container .card-lecture .lecture-lec .box-1 {
  background-color: var(--color-box-1);
  min-height: calc(75vh - (var(--height-nav) + 25vh));
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  padding: 5px 15px 50px;
}
* .section .container .card-lecture .lecture-lec .box-1::before {
  content: "";
  position: absolute;
  bottom: 34px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 100vw;
  -webkit-box-shadow: -6px 5.2px 0px var(--color-border);
  box-shadow: -6px 5.2px 0px var(--color-border);
}
* .section .container .card-lecture .lecture-lec .box-1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 140px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 100vw;
  -webkit-box-shadow: -6px 5.2px 0px var(--color-border);
  box-shadow: -6px 5.2px 0px var(--color-border);
}
* .section .container .card-lecture .lecture-lec .box-2 {
  background-color: var(--color-box-2);
  min-height: calc(70vh - (var(--height-nav) + 25vh));
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}
* .section .container .card-lecture .lecture-lec .box-2 .sub-labs {
  position: relative;
  display: inline-block;
  color: #ddd;
  width: 140px;
  height: 40px;
  background-color: var(--color-box-2);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  border-top: 7px solid var(--color-border);
  border-right: 7px solid var(--color-border);
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-family: BE;
}
* .section .container .card-lecture .lecture-lec .box-2 .sub-labs::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 100vw;
  -webkit-box-shadow: -6px -5.2px 0px var(--color-border);
  box-shadow: -6px -5.2px 0px var(--color-border);
}
* .section .container .card-lecture .lecture-lec .box-2 .sub-labs::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -15px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 100vw;
  -webkit-box-shadow: -6px 5.2px 0px var(--color-box-2);
  box-shadow: -6px 5.2px 0px var(--color-box-2);
}
* .section .container .card-lecture .lecture-lec .box-2 .lecture-lab {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  width: 100%;
  min-height: calc(45vh - (var(--height-nav) + 25vh));
  padding: 0px 15px 20px 15px;
}

/*  */
* .body-section {
  margin-top: var(--height-nav);
}
* .body-section .title-text h1 {
  padding: 10px 0 0;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgba(221, 221, 221, 0.5803921569);
  font-family: BE;
}
* .body-section .title-text h1 p {
  position: relative;
  display: inline-block;
}
* .body-section .title-text h1 p span:nth-child(1) {
  position: absolute;
  -webkit-transform: translateX(-17px);
          transform: translateX(-17px);
  -webkit-animation: animate-text-logo-2 2s 2.7 ease-in-out backwards;
          animation: animate-text-logo-2 2s 2.7 ease-in-out backwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition: 0s;
  transition: 0s;
}
* .body-section .title-text h1 p span:nth-child(2) {
  -webkit-animation: animate-text-logo 2s 2 ease-in-out forwards;
          animation: animate-text-logo 2s 2 ease-in-out forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition: 0s;
  transition: 0s;
}
* .body-section .title-text h1 p span:nth-child(3) {
  font-family: sans-serif;
  font-weight: 700;
  -webkit-animation: animate-text-logo-hu 0.5s 1 ease-in-out forwards;
          animation: animate-text-logo-hu 0.5s 1 ease-in-out forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
* .sub-title-text {
  padding: 7px 0 0;
  text-transform: capitalize;
  color: rgba(221, 221, 221, 0.9058823529);
  font-size: 1.3rem;
  font-family: BE;
  text-align: center;
  overflow: clip;
}
* .body-section-body {
  width: 100%;
  max-height: 62vh;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: clip;
}
* .body-section-body .text-node {
  left: 0;
  width: 40%;
  min-height: 300px;
  background-color: rgba(221, 221, 221, 0.2);
  border-radius: 20px;
  padding: 10px;
  color: #ddd;
  text-transform: capitalize;
  font-family: BE;
}
* .body-section-body .text-node p {
  padding-left: 30px;
  font-size: 20px;
  font-family: var(--font-bage);
  padding-bottom: 7px;
  padding-right: 30px;
}
* .body-section-body .text-loading-hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 50vh;
  color: #ddd;
  font-size: 5rem;
  font-family: monospace;
}
* .body-section-body .text-loading-hello p {
  border-right: 3px solid #ddd;
  width: 60%;
  white-space: nowrap;
  overflow: clip;
  -webkit-animation: typing 3.5s steps(8), cursor1 0.4s step-end infinite alternate;
          animation: typing 3.5s steps(8), cursor1 0.4s step-end infinite alternate;
}
@-webkit-keyframes cursor1 {
  50% {
    border-color: transparent;
  }
}
@keyframes cursor1 {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes animate-text-logo {
  100% {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7058823529);
  }
}
@keyframes animate-text-logo {
  100% {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7058823529);
  }
}
@-webkit-keyframes animate-text-logo-hu {
  0% {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7058823529);
  }
  30% {
    color: rgba(221, 221, 221, 0.3411764706);
    text-shadow: 0px 0px 20px transparent;
  }
  100% {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7058823529);
  }
}
@keyframes animate-text-logo-hu {
  0% {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7058823529);
  }
  30% {
    color: rgba(221, 221, 221, 0.3411764706);
    text-shadow: 0px 0px 20px transparent;
  }
  100% {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7058823529);
  }
}
@-webkit-keyframes animate-text-logo-2 {
  100% {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7058823529);
  }
}
@keyframes animate-text-logo-2 {
  100% {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7058823529);
  }
}
* .section-1 {
  background-color: #521f43;
}
* .section-1 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
}
* .section-1 h1::after {
  content: "anatomy";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text));
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* .section-2 {
  background-color: #2b85ec;
}
* .section-2 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
}
* .section-2 h1::after {
  content: "Kinesiolo";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text) - 50px);
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* .section-2 .container .card-lecture .lecture-lec {
  --color-border: #859fbd;
  padding: 0px 1.5%
}
* .section-3 {
  background-color: #d11372;
}
* .section-3 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
}
* .section-3 h1::after {
  content: "biochemistry";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text) - 420px);
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* .section-4 {
  background-color: #450bb1;
}
* .section-4 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
  mix-blend-mode: hard-light;
}
* .section-4 h1::after {
  content: "physiology";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text) - 180px);
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* .section-4 .container .card-lecture .lecture-lec {
  --color-border: #8c7bab;
  padding: 0px 1.5%
}
* .section-5 {
  background-color: #096147;
}
* .section-5 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
  mix-blend-mode: hard-light;
}
* .section-5 h1::after {
  content: "Hydrothera";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text) - 180px);
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* .section-5 .container .card-lecture .lecture-lec {
  --color-border: #7b948d;
  padding: 0px 1.5%
}
* .section-6 {
  background-color: #770b34;
}
* .section-6 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
  mix-blend-mode: hard-light;
}
* .section-6 h1::after {
  content: "Ethics & La";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text) - 195px);
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* .section-7 {
  background-color: #0e5d6d;
}
* .section-7 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
  mix-blend-mode: hard-light;
}
* .section-7 h1::after {
  content: "Community";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text) - 190px);
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* .section-8 {
  background-color: #600d91;
}
* .section-8 h1 {
  padding: 20px 0 0;
  font-weight: 600;
  text-transform: capitalize;
  color: #f3e9e9;
}
* .section-8 h1::after {
  content: "Computers";
  position: absolute;
  top: var(--top-shadow-text);
  right: calc(var(--right-shadow-text) - 170px);
  font-size: 11rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3764705882);
}
* footer {
  width: 100%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  background-color: var(--background-color);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
* footer .text-name {
  text-align: center;
  width: 100%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  color: var(--color-bage);
  font-family: var(--font-bage);
  margin-bottom: 10px;
}
* footer .text-name span {
  display: block;
  font-size: 1rem;
}
* footer .text-link {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  text-align: center;
}
* footer .text-link .text-link-link {
  color: #fff;
  font-family: monospace var(--font-bage);
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: uppercase;
}

@media (max-width: 1268px) {
  :root {
    --height-nav: 5.5rem;
  }
  html {
    scroll-padding-top: var(--height-nav);
  }
  * body .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: var(--height-nav);
  }
  * body .header .logo {
    padding: 5px 0 0 0px;
    font-size: 2.8rem;
  }
  * body .header .navbar {
    display: block;
    margin: 0 0px;
    padding: 10px 0 10px 0;
  }
  *.body-section-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  *.body-section-body .text-node {
    display: block;
    padding:  0 15px;
    width: 90%;
    min-height: 250px;
  }
  * .body-section-body .text-node p {
    padding-left: 35px;
    font-size: 21px;
    font-family: var(--font-bage);
    padding-bottom: 7px;
    padding-right: 35px;
  }
  * .body-section-body .text-loading-hello {
    display: none;
  }
}
@media (max-width: 972px) {
  :root {
    --height-nav: 3.5rem;
  }
  html {
    scroll-padding-top: var(--height-nav);
  }
  * body .header {
    height: var(--height-nav);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  * body .header .logo {
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 2.5rem;
  }
  * body .header .navbar {
    -webkit-transform: translate(0, -100vh);
            transform: translate(0, -100vh);
    position: relative;
    height: 0;
    width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(90px);
    backdrop-filter: blur(90px);
  }
  * body .header .navbar .navbar-link {
    -webkit-transform: translate(0, -150px);
            transform: translate(0, -150px);
    display: none;
    font-size: 1.2rem;
    margin-top: 0.9rem;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  * body .header .navbar .navbar-link:hover {
    font-size: 1.3rem;
  }
  * body .header #check,
  * body .header .icon {
    position: absolute;
    -ms-flex-item-align: end;
        align-self: flex-end;
    color: var(--color-bage);
  }
  * body .header #check {
    top: 30%;
  }
  * body .header .icon {
    display: block;
    font-size: 2.2rem;
    top: 20%;
    right: 5%;
  }
  * body .header .icon #icon-close {
    display: none;
  }
  * body .header #check:checked ~ .icon #icon-open {
    display: none;
  }
  * body .header #check:checked ~ .icon #icon-close {
    display: block;
  }
  * body .header #check:checked ~ .navbar {
    -webkit-transform: translate(0, var(--height-nav));
            transform: translate(0, var(--height-nav));
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: 100vw;
  }
  * body .header #check:checked ~ .navbar .navbar-link {
    display: block;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .sub-title-text h1 {
    white-space: nowrap;
  }

  * .body-section-body .text-node {
    display: block;
    width: 100%;
    padding: 4px;
    min-height: 210px;
  }
  * .body-section-body .text-node p {
    padding-left: 20px;
    font-size: 18px;
    font-family: var(--font-bage);
    padding-bottom: 7px;
    padding-right: 20px;
  }
  .section h1 {
    font-size: 2.1rem;
  }
  .section h1:after {
    display: none;
  }
  .section .container .card-lecture .card-lecture-logo {
    font-size: 17px;
    letter-spacing: 20px;
    left: -131px;
  }
  .body-section-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section h1 .icon-b {
    display: block;
    position: absolute;
    top: -20px;
    right: -50px;
    font-size: 9rem;
    font-weight: 900;
    position: absolute;
    color: rgba(0, 0, 0, 0.3764705882);
  }
  * .body-section-body .text-loading-hello {
    display: none;
  }
}
@media (max-width: 276px) {
  * body .header {
    display: none;
  }
  * .animation-loading {
    display: none;
  }
  * .section {
    display: none;
  }
  * footer {
    display: none;
  }
  .error {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bage);
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: clip;
  }
  .error::before {
    content: attr(data-text);
    font-family: monospace;
    text-transform: capitalize;
    font-size: 30px;
    white-space: nowrap;
  }
}
