* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
* body section {
  width: 100%;
  height: 50vh;
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 200px;
          perspective: 200px;
  position: relative;
}
* body section video {
  position: absolute;
  width: 100%;
  height: 50vh;
}
* body section h1 {
  display: inline-block;
  text-transform: uppercase;
   font-size: 65px;
  font-family: sans-serif;
}
* body section h1 span {
  display: inline-block;
  opacity: 0;
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
}
* body section h1 span:nth-child(1) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
body section h1 span:nth-child(1)::after{
  content: 'o';
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  color: aqua;
  -webkit-animation: animate-2 1s linear forwards;
          animation: animate-2 1s linear forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
* body section h1 span:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
* body section h1 span:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
* body section h1 span:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
* body section h1 span:nth-child(5) {
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}
* body section h1 span:nth-child(6) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}
* body section h1 span:nth-child(7) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  

    }

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  

    }
    @-webkit-keyframes animate-2 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      
    }
    @keyframes animate-2 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }      
    }
* .link-box {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom:15px;
 text-align: center;
}
* .link-box a {
  color: #ddd;
  font-family: monospace;
  font-size: 17px;
  opacity: 0.01;
  animation: text 1s linear forwards;
  animation-delay: 5s;
}
@keyframes text {
  0% {
    opacity: 0.01;

  }
  100% {
    opacity: 1;

  }
  
}

 @media (max-width:382px) {
      * body section h1 {
        display: inline-block;
        text-transform: uppercase;
        font-size: 48px;
        font-family: sans-serif;
      }
      * .link-box a  {
        font-size: 15px;      
      }
    }
@media (max-width:360px) {
      * body section h1 {
        display: inline-block;
        text-transform: uppercase;
        font-size: 45px;
        font-family: sans-serif;
      }
     
    }
    @media (max-width:265px) {
      * body section h1 {
        display: inline-block;
        text-transform: uppercase;
        font-size: 40px;
        font-family: sans-serif;
      }
    }
    @media (max-width:235px) {
      * body section h1 {
        display: inline-block;
        text-transform: uppercase;
        font-size: 35px;
        font-family: sans-serif;
      }
    }
 @media (max-width:206px) {
      * body section h1 {
        display: inline-block;
        text-transform: uppercase;
        font-size: 30px;
        font-family: sans-serif;
      }
    }



 
 
 
